/*
*重置样式表*
*/
html{
  background-color: #f2f2f2;
  color: #666;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  margin: 0;
}
input,button,select,textarea{outline:none;}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
em,i{
  font-style: normal;
}
